* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8e9eab, #eef2f3); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

.todo-app {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 80px; 
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.task-container {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0; 
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li.completed {
    text-decoration: line-through;
}

li button {
    margin-left: 5px;
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

li button.mark-btn {
    background-color: #28a745;
    margin-bottom: 1px;
}

li button.mark-btn:hover {
    background-color: #218838;
}

li button.delete-btn {
    background-color: #dc3545;
    margin-top:1px;
}

li button.delete-btn:hover {
    background-color: #c82333;
}
