/* General Layout */
body {
    font-family: Arial, sans-serif;
    background: #e0f7fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0288d1;
    color: white;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Centered Inputs and Buttons */
.task-input-container,
.buttons-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

input {
    width: 400px; /* Adjusted width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons-container button {
    padding: 10px;
    border: 2px solid #0288d1;
    background-color: #0288d1;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 4px;
    margin: 0 5px;
}

button:hover {
    background-color: #01579b;
}

button:active {
    transform: translateY(2px);
}

/* Task Container */
.task-container {
    height: 250px;
    width: 400px; /* Match width */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background: white;
    margin-top: 10px;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.task-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li button {
    padding: 4px 8px;
    font-size: 12px;
    border: 1px solid #0288d1;
    border-radius: 4px;
}

li button:hover {
    background-color: #01579b;
    color: white;
}

li.completed {
    background-color: #d3f8d3; /* Change background for completed tasks */
}

li .task-name {
    margin-left: 15px;
}

/* Description Container */
.description-container {
    margin-top: 15px;
    width: 400px; /* Match width */
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

.description-container p {
    font-size: 1rem;
    color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
    .task-input-container, .buttons-container, .task-container, .description-container {
        width: 100%;
    }
}
